* {
    box-sizing: border-box;
}

:root {
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    color: #374151;
}

body {
    margin: 0;
    width: 100vw;
    height: 100vh;
}

body input {
    appearance: none;
    border: 1px solid #d1d5db;
    font-size: 16px;
    border-radius: 4px;
    padding: 8px 10px;
    width: 100%;
}

